<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript">
			function sum(num1,num2){
				var result = 0;
				for (var i = 0; i < arguments.length; i++) {
					// 如果传递的参数类型为number数值类型。就相加
					if (typeof( arguments[i] ) == "number") {
						result += arguments[i];

					}

				}
                return result;
			}

			alert( sum(100,200,"abc",300,400) );




		</script>
</head>
<body>

</body>
</html>