<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript">

            <!-- 第一种函数的使用-->
            function b(){
                alert("我是函数的调用")
            }
			function sum(a,b){  // 这个地方跟java不同不要写数据类型的
			    return a+b
			}

			alert(sum(1,56));

			b();


			<!-- 第二种函数的使用
			    js中方法允许重载，但是后覆盖掉上次的方法

			-->
			var c = function(){
			    alert("我是第二种函数的使用方法")
			}

			c();
		</script>
</head>
<body>
</body>
</html>