<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script type="text/javascript">
        var a = new Object();  <!--大写Object-->
        a.name ="hc";
        a.sing = function(){
            alert("唱歌是真好听");
        }

        alert(a.name);
        a.sing();

         var object={
            name:"李四",
            age:17,
            a:function(){
                alert(this.name + "今年"+this.age);
            }
            };

            alert(object.name);
            object.a();
    </script>
<body>

</body>
</html>